<% @levels.each do |level| %>
  <% if !level.preview.thumb.file %>
    <%= link_to level.file_name, level_path(level) %>
  <% else %>
    <%= link_to level_path(level) do %>
      <%= image_tag(level.preview.url(:thumb).gsub('.png', '.jpg')) %>

      <canvas id="level_<%= level.id %>"
              width="400"
              height="250"
              data-level-id="<%= level.id %>"
              data-level-filename="<%= level.file_name %>"
              data-replay="<%= level.scores.try(:first).try(:replay) %>">
      </canvas>
    <% end %>
  <% end %>

  <% current_user_score = level.scores.where(:user_id => current_user.id) %>
  <% best_score = level.best_score(current_user) %>
  <% if current_user_score.present? and best_score.present? %>
    <% delta = current_user_score.first.steps - best_score.steps %>
    <% if delta >= 0 %>
      <span class="red">+<%= ('%.2f' % (delta / 60.0).round(2)).gsub('.', ':') %></span>
    <% else %>
      <span class="green"><%= ('%.2f' % (delta / 60.0).round(2)).gsub('.', ':') %></span>
    <% end %>
  <% end %>
  <br/>
<% end %>
