<!DOCTYPE html>
<html lang="en" prefix="fb: http://www.facebook.com/2008/fbml">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" href="">

    <link rel="author" href="/humans.txt" />

    <!--
    <link rel="shortcut icon" href="/favicon.png">
    -->

    <title>XMoto.io</title>

    <%= stylesheet_link_tag "application", media: "all" %>
    <%= csrf_meta_tags %>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!--
    <meta property="og:url"         content="http://xmoto.io/game.html" />
    <meta property="og:title"       content="XMoto.io" />
    <meta property="og:description" content="HTML5 Version of XMoto" />
    <meta property="og:image"       content="http://xmoto.io/image.png" />
    -->

    <%= render 'layouts/google_analytics' %>
  </head>

  <body id="<%= "#{params[:controller]}-#{params[:action]}" %>" ng-app="XMotoApp">
    <a href="https://github.com/michaelhoste/xmoto">
      <img style="position: absolute; top: 0; right: 0; border: 0; z-index: 1" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub">
    </a>

    <% if current_user %>
      <div id="current-user" data-id="<%= current_user.id if current_user %>"
                             data-best-score-id="<%= yield :current_user_best_score_id %>"
                             data-best-score-steps="<%= yield :current_user_best_score_steps %>">
        <%= _("You are connected as %{name}" % { :name => current_user.name }) %> |
        <%= link_to _("Signout"), signout_path %>
      </div>
    <% else %>
      <%= link_to _("Connect with Facebook"), '/auth/facebook' %>
    <% end %>
    <br/>

    <div class="container">
      <%= yield %>
    </div>

    <%= javascript_include_tag "application" %>
    <script src="http://js.pusher.com/2.2.0-rc2/pusher.min.js"></script>
  </body>
</html>

